#sound-board {
  background: skyblue;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#video {
  margin-left: 55px;
}

button {
  margin-bottom: 20px;
  border: 3px outset;
/*   border-color: silver */
}

button:active {
  background-color: lightgray;
  border: 3px inset;
}

h1 {
  padding-top: 50px;
}

iframe {
  width: 360px;
  height: 204px;
}

.video-frame {
  padding: 20px;
}

h3 {
  padding-bottom: 30px;
}
